* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

button {
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkorange;
}

.menu a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* Media query para móviles */
@media (max-width: 600px) {
    .form-container {
        max-width: 90%; /* Ajustar el ancho del contenedor en móviles */
        margin: 20px auto; /* Ajustar el margen en la parte superior e inferior */
    }

    input {
        max-width: 100%; /* Permitir que el input use todo el ancho disponible */
    }

    h1 {
        font-size: 24px; /* Ajustar tamaño de fuente del encabezado */
    }

    button {
        font-size: 16px; /* Ajustar tamaño de fuente del botón */
    }
}
