* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.content {
    text-align: center;
}

h2 {
    margin-top: 20px;
    color: #333;
}

.actions {
    margin-top: 20px;
}

.actions a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.actions a:hover {
    background-color: darkorange;
}
